/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  background: #42454e;
  border-radius: 4px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  background: #848589;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-thumb:hover {
  background: #a6a6a6;
}

.head-bg {
  background: url('../image/head-dark.png')no-repeat 0 -150px/100% 320px;
}

.main-container {
  background-color: rgb(24, 28, 39) !important;
}